.events-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  padding: 20px;
  width: 30r;
  height: 100vh;
  background-color: #f9f9f9;
  flex: 0 0 200px;
}

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

.event-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin: 10px;
  border: 1px solid #ddd;
  font-size: 15px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.event-icon-box:hover,
.event-icon-box:focus {
  background-color: #e6e6e6; /* Slightly darker on hover/focus for better interaction feedback */
}

.event-icon-box.selected {
  background-color: #f0f0f0; /* Light grey background for the selected event */
  border-left: 5px solid blue; /* Blue left border for the selected event */
  outline: none; /* Remove default focus outline */
}

.event-details {
  text-align: center;
  margin-top: 20px;
}

.events-list {
  overflow-y: auto;
  /* max-height: 220px;  */
  width: 100%;
  padding: 5px;
}

.event-icon-box {
  flex: 0 0 auto; /* Ensure that boxes do not shrink */
}
