:root {
  --bg-color: #0A0220; 
  --secondary-color: #F1CFD3;
  --primary-color: #CD4E07;
  --font-sizeH2: 64px;
  --line-height1: 70px;
  --font-sizebody-l: 32px;
  --font-sizeH6: 20px;
}

.footer-container {
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-container {
  background: var(--secondary-color);
  max-width: 1,440px;
  max-height: 536px;
  width: 100%;
  height: auto;
  padding: 100px 120px 100px 120px;
  gap: 64px;
  opacity: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  position: relative;
}

.text-container {
  display: flex;
  max-width: 1,200px;
  max-height: 216px;
  width: 100%;
  height: auto;
  gap: 32px;
  opacity: 0px;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}

.footer {
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 88px 120px;
  gap: 80px;
  /* max-width: 1440px; */
  width: 100%;
  max-height: 222px;
  height: auto;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.main-text {
  font-family: 'Poppins', sans-serif;
  font-size: var(--font-sizeH2);
  font-weight: 600;
  line-height: var(--line-height1);
  text-align: center;
  color: var(--primary-color);
  width: 769px;
  height: 140px;
  gap: 0px;
  opacity: 0px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.sub-text {
  width: 1200px;
  height: 44px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: var(--font-sizebody-l);
  line-height: 43.58px;
  text-align: center;
  color: #342C28;
  mix-blend-mode: normal;
  opacity: 0.65;
  flex: none;
  order: 1;
  align-self: center;
  flex-grow: 0;
}

button {
  display: inline-flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  padding: 14px 36px;
  gap: 10px;
  max-width: 179px;
  width: 100%;
  max-height: 56px;
  height: fixed;
  background: var(--primary-color);
  border-radius: 65px;
  border-color: none;
  flex: none;
  order: 2;
  flex-grow: 0;
  z-index: 1;
  text-align: center;
  cursor: pointer;
}

button:hover {
  background: var(--bg-color); 
  color: white;
}

.started-button {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: var(--font-sizeH6);
  line-height: 28px;
  color: #0A0220;
  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: 1;
  /* width: 107px;
  height: 28px; */
}

.overlay-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2; 
  opacity: 1;
  object-fit: contain;
  pointer-events: none;
}

.bottom {
  display: flex;
  width: 198px;
  max-height: 46px;
  height: auto;
  gap: 0px;
  opacity: 0px;
}

.logo-container {
  width: 198px;
  max-height: 46px;
  height: auto;
  gap: 0px;
  justify: space-between;
  opacity: 0px;
}

.logo-text {
  margin: 0 auto;
  width: 141px;
  height: 46px;
  font-family: 'Gugi', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 120.44%;
  letter-spacing: -0.05em;
  color: var(--primary-color);
  flex: none;
  order: 0;
  flex-grow: 0;
  line-height: 45.77px;
  letter-spacing: -0.05em;
  text-align: left;
}

.copyright {
  margin: 0 auto;
  width: 246px;
  height: 14px;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #DDD6D1;
  flex: none;
  order: 1;
  flex-grow: 0;
  justify-content: middle;
}